body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;
}

.login, .platform {
  margin-top: 60px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

iframe {
  margin-top: 20px;
  border-radius: 10px;
}
