body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.offline {
  margin-top: 30px;
  color: lightgreen;
}
